*{
    background-color: #d6e2e2;
}
.navbar-brand{
    color: #383e52;
    font-weight: bold;
}
.nav-link{
    color: #3b1fe8;
    font-weight: bold;
}
nbg{
    background-color:#d6e2e2;
}
.bi-shop{
    color: #3b1fe8;
    font-weight: bold;
}
.b{
    background-color: aliceblue;
    border-radius: 5px;
}